/* UserList.css */

.user-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tr:hover {
    background-color: #ddd;
  }
  
  .delete-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  
  .role-select {
    padding: 5px 10px;
  }


.back-button {
  align-self: flex-end; /* Align the button to the start (left) */
  margin-bottom: 20px;
  padding: 8px 16px;
  background-color: #ccb8b8;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: green;
  color: white;
}


  