.admin-panel {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-left: 250px;
}
.post-panel {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-left: 25px;
}

.admin-panel-title {
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: 4rem;
}


.ad-head{
  display: flex;
  justify-content: space-between;
}
.ad-head button {
  margin-right: 50px;
}
.admin-panel-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.link-button span {
  color: black;
  font-weight: 700;
}

.link-button {
  --border-radius: 15px;
  --border-width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  height: 250px;
  width: 250px;
  margin: 0 10px;
  background-color: rgb(201, 188, 188);
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  z-index: 2;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-weight: 500;
}

.card {
  width: 125px;
  height: 130px;  /* Adjusted height */
  background: white;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.card span {
  z-index: 1;
  color: black;
  font-size: 2em;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 130%;  
  animation: rotBGimg 2s linear infinite;  
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: rgb(225, 218, 218);
  inset: 5px;
  border-radius: 15px;
}

.card:hover:before {
  background-image: linear-gradient(180deg, rgb(73, 173, 27), white);
  animation: rotBGimg 2.5s linear infinite;  
}
