
.jobs {
  height: auto;
  min-height: 100vh;
  width: calc(100vw - 310px);
  margin: 0 auto;
  padding-left: 250px;
  font-family: Arial, sans-serif;
  background-color: white;
}
.jobs-opt{
  display: flex;
  justify-content: space-between;

}

.search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-filter input,
.search-filter select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 48%;
}

/* Job List Grid */
.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

/* Job Card */
.job-card {
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.job-card:hover {
  transform: translateY(-5px);
  background-color: #e0f7fa;
}

.job-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.job-card__header h2 {
  font-size: 20px;
  margin: 0;
}

.job-card__header p {
  margin: 0;
  color: #00796b;
}

.job-card__body p {
  margin: 5px 0;
  color: #555;
}

/* Job Details */
.job-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.job-details {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.job-details h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.job-details p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.job-details p strong {
  color: #333;
}

.detail-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #004d40;
}

.back-button {
  background-color: #ccc;
}

.back-button:hover {
  background-color: #999;
}

/* Responsive Design */
@media screen and (max-width: 730px) {
  .jobs {
    padding-left: 2rem;
  }

  .jobs h1 {
    font-size: 20px;
    width: 250px;
  }

  .search-filter {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-filter input,
  .search-filter select {
    width: 100%;
    margin-bottom: 10px;
  }
}
