/* Sidebar Container */
.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
  left: 0;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

/* Sidebar Content */
.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-info {
  padding-bottom: 1.5rem;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.sidebar-logo {
  margin-bottom: 2rem;
}

.sidebar-logo .Link {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
}

.blue {
  color: #2196f3; /* Blue color for "Job" */
}

.green {
  color: #4caf50; /* Green color for "Mage" */
}

/* Sidebar Links */
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section-links {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
  color: #555;
}

.section-links:hover {
  background-color: #f0f0f0;
  transform: translateX(5px);
}

.section-links.active {
  background-color: #d1d1d1;
  font-weight: bold;
}

/* Divider */
hr {
  border: none;
  margin: 20px 0;
  height: 1px;
  background-color: #ddd;
}

/* Toggle Button */
.toggle-button {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
  border: none;
  background: none;
  font-size: 30px;
  font-weight: 500;
  transform: rotate(90deg);
  color: #333;
  cursor: pointer;
}

.close-button {
  display: flex;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 500;
  color: red;
  cursor: pointer;
  align-self: flex-end;
}

/* Responsive Design */
@media screen and (min-width: 778px) {
  .toggle-button {
    display: none;
  }
  .close-button {
    display: none;
  }
}
