.resources{
    height: auto;
    min-height: 100vh;
    padding-left: 280px;
    background-color: white;
    gap: 1.2rem;
}
.courses{
    height: auto;
}
.books{
    height: auto;
}
@media screen and (max-width: 778px) {
    .resources{
        padding-left: 60px;
        padding-top: 30px;
    }
  }