
.chatbot-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px; /* Fixed height */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(100%);
  }
  
  .chatbot-container.open {
    transform: translateY(0);
    opacity: 1;
  }
  
  .chatbot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .chatbot-header h2 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .chatbot-header button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
  }
  
 /* ChatBot.css */

.chatbot-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    width: 70%;
  }
  
  .message.bot {
    background-color: #f0f0f0;
    align-self: flex-start; 
  }
  
  .message.user {
    background-color: rgb(151, 216, 151);
    align-self: flex-end; 
  }
 
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .input-container input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  .input-container button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #0056b3;
  }
  