.log-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-self:center;
    align-items: center;
    width: 500px;
    height: 590px;
    gap: .5rem;
    border: 1px solid white;
    box-shadow: 7px 10px 20px rgb(179, 174, 174);
    border-radius: 15px;
}
.login-logo{
    font-size: 1rem;
    font-weight: 700;
    padding: 1.7rem;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1.2rem;
}
.login-form input{
    padding: 0.6rem;
    border-radius: 10px;
    border: none;
    background-color: #f6ebeb;
}
.roles{
    padding: .5rem;
    border-radius: 10px;
}
.login-btn{
    font-size: 20px;
    padding: 0.6rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(112, 112, 247);
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(112, 112, 247);
    }
}

.login-form a{
    text-decoration: none;
    color: white;
}
.login-sub-btn a{
    text-decoration: none;
    color: rgb(80, 80, 232);
}
@media screen and (max-width:500px) {
    .login-container{
        height: 100vh;
        justify-content: center;

    }
}