.sign-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container{
    display: flex;
    flex-direction: column;
    justify-self:center;
    align-items: center;
    width: 500px;
    min-height: 590px;
    max-height: auto;
    gap: 1.2rem;
    border: 1px solid white;
    box-shadow: 7px 10px 20px rgb(179, 174, 174);
    border-radius: 15px;
}


.signup-logo{
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1.6rem;
}
.signup-form{
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 0.8rem;
}
.signup-form input{
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #f6ebeb;
}
.roles{
    padding: .5rem;
    border-radius: 10px;
}

.signup-btn{
    font-size: 15px;
    padding: 0.6rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(112, 112, 247);
    color: white;
    cursor: pointer;
    &:hover{
        background-color: rgb(58, 58, 244);
    }
}

.login-sub-btn a{
    text-decoration: none;
    color: rgb(80, 80, 232);
}
.signup-form a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:500px) {
    .signup-container{
        height: 100vh;
        justify-content: center;
        
    }
}