.contact{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    margin-bottom: 2rem;

}
.contact-headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.contact-head{
    font-size: 55px;
}
.contact-subhead{
    font-size: 25px;
}

.contact-form-container{
    display: flex;
    
}
.contact-image{
    flex: 1;
    display: flex;
    padding-right: 80px;
    justify-content: center;
    
}
.contact-image img{
    width: 600px;
}
.contact-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.contact-query{
    font-size: 30px;
}
.contact-form input{
    width: 70%;
    padding: 2rem;
    font-size: 20px;
    border-radius: 20px;
}
.contact-form textarea{
    width: 75%;
    padding: 1.5rem;
    font-size: 20px;
    border-radius: 20px;
    resize: none;
}
.contact-btn{
    width: 30%;
    padding: 1.5rem;
    font-size: 25px;
    border-radius: 14px;
    border: none;
    color: white;
    background-color: rgb(37, 36, 36);
}

@media screen and (max-width: 1000px) {
    .contact-form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .contact-form{
        width: 80%;
        
    }
}
@media screen and (max-width: 700px) {
   
    .contact-form{
        width: 70%;
        
    }
    .contact-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-image img{
        width: 300px;

    }
    .contact-form input{
        width: 70%;
        padding: .5rem;
        font-size: 20px;
        border-radius: 20px;
    }
    .contact-form textarea{
        width: 75%;
        padding: .5rem;
        font-size: 15px;
    }
    .contact-btn{
        width: 30%;
        padding: .5rem;
        font-size: 15px;
        border-radius: 14px;
    }
}