.home{
    height: auto;
    display: flex;
    margin-top: 10%; 
    margin-bottom: 8rem;
}

.home-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    padding-left: 10%;
    
}
.home-heading{
    font-size: 40px;
    width: 80%;
}
.home-para{
    font-size: 18px;
    
}

.get-started-btn{
    width: 30%;
    font-size: 18px;
    padding: 0.9rem;
    border-radius: 15px;
    border: none;
    background-color: rgb(4, 152, 4);
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
        background-color: green;
    }
}

.home-right{
    flex: 1;
    
}
.home-image{
    display: flex;
    justify-content: center;
}
.home-image img{
    width: 500px;
}


@media screen and (max-width: 1170px) {
    .home-heading{
        font-size: 45px;
        width: 80%;
    }
    .home-para{
        font-size: 20px;
        
    }
    .get-started-btn{
        width: 40%;
        font-size: 17px;
    }
    
    

}

@media screen and (max-width: 900px){
    .home{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .home-heading{
        font-size: 30px;
        width: 80%;
        
    }
    .home-para{
        font-size: 15px;
        
    }
    
   
    
}
@media screen and (max-width: 640px){
    .home-image img{
        width: 300px;
    }
    
}